## Decisive Distributions

### Import Dependencies

In [1]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi

# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [2]:
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

### Read in stock data using Alpaca API

In [7]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

# Set the stock tickers
tickers = ["SPY", "LUV", "DIS", "AAPL", "SBUX", "WORK"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to 10000 so all ticker rows are captured from get_bars()
df_ticker = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data
df_ticker

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-05-01 04:00:00+00:00,210.20,215.3100,209.230,210.52,64827505,441450,212.670859,AAPL
2019-05-02 04:00:00+00:00,209.65,212.6500,208.130,209.15,32000324,233410,210.155469,AAPL
2019-05-03 04:00:00+00:00,210.78,211.8400,210.230,211.75,21092378,148449,211.161771,AAPL
2019-05-06 04:00:00+00:00,204.16,208.8400,203.500,208.48,32444375,236173,207.309513,AAPL
2019-05-07 04:00:00+00:00,205.86,207.4175,200.825,202.86,38763698,294532,203.568951,AAPL
...,...,...,...,...,...,...,...,...
2020-04-27 04:00:00+00:00,26.41,27.8700,26.380,27.31,12846456,58687,27.275657,WORK
2020-04-28 04:00:00+00:00,28.50,28.5000,26.150,26.88,13150333,57716,26.997637,WORK
2020-04-29 04:00:00+00:00,26.30,27.3300,25.020,27.07,12889695,62526,26.640053,WORK
2020-04-30 04:00:00+00:00,27.02,27.6300,26.260,26.69,10594185,47516,26.946572,WORK
2020-05-01 04:00:00+00:00,26.18,26.8800,25.320,26.38,8070403,39829,25.995585,WORK

In [8]:
# Reorganize the DataFrame
# Separate ticker data
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis=1)
LUV = df_ticker[df_ticker['symbol']=='LUV'].drop('symbol', axis=1)
DIS = df_ticker[df_ticker['symbol']=='DIS'].drop('symbol', axis=1)
AAPL = df_ticker[df_ticker['symbol']=='AAPL'].drop('symbol', axis=1)
SBUX = df_ticker[df_ticker['symbol']=='SBUX'].drop('symbol', axis=1)
WORK = df_ticker[df_ticker['symbol']=='WORK'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_ticker = pd.concat([SPY, LUV, DIS, AAPL, SBUX, WORK], axis=1, keys=["SPY", "LUV", "DIS", "AAPL", "SBUX", "WORK"])
# Display sample data
df_ticker.head()

                              SPY                                       \
                             open    high       low   close     volume
timestamp
2019-05-01 04:00:00+00:00  294.76  294.95  291.8000  291.81   71921870
2019-05-02 04:00:00+00:00  291.68  292.70  289.5200  291.18   65058183
2019-05-03 04:00:00+00:00  292.80  294.34  291.2998  294.03   56579556
2019-05-06 04:00:00+00:00  289.24  293.31  288.9000  292.82  107250892
2019-05-07 04:00:00+00:00  290.15  290.81  285.8100  287.93  145292657

                                                     LUV                 ...  \
                          trade_count        vwap   open   high     low  ...
timestamp                                                                ...
2019-05-01 04:00:00+00:00      337374  293.457138  54.60  54.61  53.855  ...
2019-05-02 04:00:00+00:00      342564  291.101680  53.99  54.49  53.360  ...
2019-05-03 04:00:00+00:00      249557  293.438891  53.54  53.93  53.285  ...
2019-05-06 04:00:00+00:00      390959  291.952803  52.81  53.61  52.720  ...
2019-05-07 04:00:00+00:00      618594  288.280747  53.04  53.12  51.450  ...

                              SBUX                        WORK                 \
                            volume trade_count       vwap open high low close
timestamp
2019-05-01 04:00:00+00:00  6678194       50558  77.684302  NaN  NaN NaN   NaN
2019-05-02 04:00:00+00:00  6247550       50730  77.272023  NaN  NaN NaN   NaN
2019-05-03 04:00:00+00:00  4967928       39845  78.009787  NaN  NaN NaN   NaN
2019-05-06 04:00:00+00:00  5607843       46777  77.731052  NaN  NaN NaN   NaN
2019-05-07 04:00:00+00:00  8115808       71206  78.051332  NaN  NaN NaN   NaN


                          volume trade_count vwap
timestamp
2019-05-01 04:00:00+00:00    NaN         NaN  NaN
2019-05-02 04:00:00+00:00    NaN         NaN  NaN
2019-05-03 04:00:00+00:00    NaN         NaN  NaN
2019-05-06 04:00:00+00:00    NaN         NaN  NaN
2019-05-07 04:00:00+00:00    NaN         NaN  NaN

[5 rows x 42 columns]

### Create a new DataFrame and store the closing prices of each stock.

In [9]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    df_closing_prices[ticker] = df_ticker[ticker]['close']

# df_closing_prices["SPY"] = df_ticker["SPY"]["close"]
# df_closing_prices["LUV"] = df_ticker["LUV"]["close"]
# df_closing_prices["DIS"] = df_ticker["DIS"]["close"]
# df_closing_prices["AAPL"] = df_ticker["AAPL"]["close"]
# df_closing_prices["SBUX"] = df_ticker["SBUX"]["close"]
# df_closing_prices["WORK"] = df_ticker["WORK"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head()

               SPY    LUV     DIS    AAPL   SBUX  WORK
2019-05-01  291.81  53.90  136.38  210.52  77.52   NaN
2019-05-02  291.18  53.37  134.14  209.15  77.47   NaN
2019-05-03  294.03  53.62  134.33  211.75  78.05   NaN
2019-05-06  292.82  53.48  135.00  208.48  78.06   NaN
2019-05-07  287.93  52.21  133.44  202.86  77.96   NaN

### Calculate the daily returns for each stock using the `pct_change()` function

In [ ]:
# Compute daily returns
# YOUR CODE HERE!

# Display sample data
df_daily_returns.head()

### Plot Distributions

In [ ]:
# Visualize the distribution of daily returns across all stocks using a histogram plot
# Hint: To make the plot easier to read, set the alpha arguement to 0.5
# YOUR CODE HERE!

In [ ]:
# Visualize the distribution of daily returns across all stocks using a density plot
# YOUR CODE HERE!